{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block body %}
    <style>
        .select{max-width:16em}
    </style>

    <form method="post" class="form-group">
        {% csrf_token %}
        <select name="session" class="select form-control">
            {% for s in sessions %}
                <option value="{{ s.id }}">{{ s }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" class="btn btn-success">Attendance Scan for this Session</button>
    </form>
{% endblock %}