{% extends "base.html" %}
{% load static %}

{% block body %}
<title>FACE SCANNING..</title>
</head>
<body class="container">
    {% include 'navbar.html' %}
    <script src={% static 'assets/js/capture.js' %}></script>
    <div class="container-fluid">
        {% if session %}
            <h3>Session: {{ session.classdetails }}</h3>
            <h3>Date: {{ session.date }}</h3>
        {% else %}
            <h3>Student Registration</h3>
        {% endif %}
        {% if message %}
            <h5>{{ message }}</h5>
        {% endif %}
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <video id="video" autoplay></video>
                    <canvas id="canvas" hidden></canvas>
                </div>
                <button id="capt" class="btn btn-secondary btn-sm" onclick="enablesubmit()">Take Photo</button>
                <button id="sub" type="submit" class="btn btn-success btn-sm">POST</button>
                <br><br>
                <div class="img pull-center">
                    <img id ="photo" name="photo" alt="The screen capture will appear in this box.">
                </div>
                <input id="imgtxt" name="src" value="" hidden></hidden>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("sub").disabled=true;
        function enablesubmit() {
            document.getElementById("sub").disabled=false;
        }
    </script>
    <br>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</body>
{% endblock %}