input {
  max-width: 17em
}

select{
    max-width:17em
}

.cols-counselor {
    grid-template-columns: 5fr 18fr 18fr 8fr 10fr 8fr 10fr 6fr;
}

.cols-student {
    grid-template-columns: 5fr 18fr 18fr 8fr 10fr 8fr 10fr 6fr 4fr;
}

.grid-container {
    display: grid;
}

.grid-item {
    border: 2px solid #000000;
    padding: 7px;
    font-size: 14px;
    text-align: center;
}

.grid-header {
    display: grid;
    background-color: #0d24a5;
    font-weight: bolder;
}

.item {
    padding: 7px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 13px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
}

.grid-container:hover {
    font-size: 25px;
    font-weight: bold;
    background: rgb(216, 228, 255);
}